@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  color: white;
  background-color: #1b1b32;
  font-family: sans-serif;
  margin-top: 40px;
}
h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: 'Poppins';
  text-align: center;
  margin: 20px 0;
}
.taskApp{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*task list style*/
.mainTask{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}